<section class="slice color1" id="advantages">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Vorteile</h1>
        <h2 class="subTitle">Der e-GO ist nicht nur kostengünstig, sondern auch praktisch und schont dabei die Umwelt</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="row boxFeature">
          <div class="col-xs-3">
            <i class="icon-arrows-cw-outline iconBig"></i>
          </div>
          <div class="col-xs-9">
            <h2>Erneuerbare Energie</h2>
            <p>Anstatt Öl über den halben Erdball zu transportieren, wird an der Elektrotankstelle in Auersthal vor allem die Energie der Sonne und des Windes gezapft. Saubere Energie, die uns heute und noch in vielen Jahren zur Verfügung stehen wird.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row boxFeature">
          <div class="col-xs-3">
            <i class="icon-leaf iconBig"></i>
          </div>
          <div class="col-xs-9">
            <h2>Eine saubere Sache</h2>
            <p>Mit jedem Kilometer, den der e-GO zurücklegt, werden im Vergleich zu einem durchschnittlichen Benzinauto 137 Gramm CO2 pro Kilometer eingespart, im Jahr über 2,5 Tonnen bei der geplanten Fahrleistung von 20.000 Kilometern.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row boxFeature">
          <div class="col-xs-3">
            <i class="icon-calculator iconBig"></i>
          </div>
          <div class="col-xs-9">
            <h2>Kostengünstig</h2>
            <p>Mit einem Mitgliedsbeitrag von €100.- bist du dabei - danach zahlst du nur mehr, wenn du tatsächlich fährst und zwar €0.12 je Kilometer. Die ersten beiden Stunden sind kostenlos, danach zahlst du €1.- je angefangener Stunde.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="row boxFeature">
          <div class="col-xs-3">
            <i class="icon-sun iconBig"></i>
          </div>
          <div class="col-xs-9">
            <h2>Einfach, keine Sorgen</h2>
            <p>Im Preis inkludiert sind bereits alle üblichen Kosten wie z.B. Strom, Vollkaskoversicherung, Service, Reparaturen, Reinigung, Vignette - du steigst ein und kannst sorgenfrei losfahren.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row boxFeature">
          <div class="col-xs-3">
            <i class="icon-stopwatch iconBig"></i>
          </div>
          <div class="col-xs-9">
            <h2>Buchbar rund um die Uhr</h2>
            <p>Über die Website <a href="http://www.caruso.mobi">www.caruso.mobi</a> kannst du jederzeit einsehen, wann der e-GO frei bzw. belegt ist und deine Buchung eintragen.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row boxFeature">
          <div class="col-xs-3">
            <i class="icon-clipboard iconBig"></i>
          </div>
          <div class="col-xs-9">
            <h2>Transparente Abrechnung</h2>
            <p>Am Monatsende bekommst du eine E-Mail mit deinen Fahrten von <a href="http://www.autobill.at">Autobill</a> - abgerechnet wird kilometer- minutengenau. Um dir die Bezahlung so bequem wie möglich zu machen, erfolgt diese per Bankeinzug.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="paralaxSlice1" data-stellar-background-ratio="0.5">
  <div class="maskParent">
    <div class="paralaxMask"></div>
    <div class="paralaxText container">
      <i class="icon-megaphone "></i>
      <blockquote class="bigTitle">Weil wir mit dem e-GO Auersthal ein Zeichen setzen und zu den Pionieren des Elektro Carsharings gehören wollen!</blockquote>
    </div>
  </div>
</div>
