      <section class="slice" id="service" >
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>Service</h1>
              <h2 class="subTitle">Alle Infos im Detail, Anmeldeformulare und E-Tankstellen in der Umgebung</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h2>Anmeldung</h2>
              <p>
                Weitere Mitglieder sind jederzeit willkommen! <br>
                Gib einfach das Anmeldeformular und die Nutzungsbedingungen ausgefüllt und
                unterschrieben bei einem Mitglied der e-Mobilitätsgruppe oder auf dem
                Gemeindeamt in Auersthal ab.
              </p>
              <p>
                <%= link_to 'Anmeldeformular', '/pdfs/e-GO Anmeldung.pdf' %>
              </p>
              <p>
                <%= link_to 'Nutzungsbedingungen', '/pdfs/e-GO Nutzungsbedingungen.pdf' %>
              </p>
              <p>
                <%= link_to 'Kurzanleitung', '/pdfs/e-GO Kurzanleitung.pdf' %>
              </p>
              <p>
                <%= link_to 'Infos A bis Z', '/pdfs/e-GO Von A bis Z.pdf' %>
              </p>
            </div>

            <div class="col-sm-6">
              <h2>Links</h2>
              <p>
                <%= link_to 'e-GO Projektvorstellung', '/pdfs/e-GO Projektvorstellung.pdf' %>
              </p>
              <p>
                <%= link_to 'Gaubitscher Stromgleiter', '/pdfs/Gaubitscher Stromgleiter.pdf' %>
              </p>
              <p>
                <%= link_to 'Video: Gaubitscher Stromgleiter - ein Film von Georg Hartmann', 'http://www.youtube.com/watch?v=iPyu2NfxCfs' %>
              </p>
              <p>
                <%= link_to 'Video: Elektroauto-Testfahrt von Eva Rossmann', 'http://www.youtube.com/watch?v=beLPFzuB7hs' %>
              </p>
              <p>
                <%= link_to 'Bea das Badner Carsharing', 'http://www.drive-bea.at/' %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>&nbsp;</p>
              <div id="mapWrapper" class="mb30">
                <iframe src="http://e-tankstellen-finder.com/at/de/partner/index/partner/0/0/899953c907b0696e1b89c573573f2691"
                  width="1000" style="border:none;" height="600"  border="0" frameborder="0" marginheight="0" marginwidth="0">
                  <p>Your browser does not support iframes.</p>
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
