<section  id="footerRights">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//lebenimdorf.us7.list-manage.com/subscribe/post?u=667ba7b8df0d062de72dd07c2&amp;id=a68a93611d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <label for="mce-EMAIL">Melde dich für den Newsletter an:</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-Mail Addresse" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_667ba7b8df0d062de72dd07c2_a68a93611d" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Anmelden" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
      <div class="col-sm-6">
        <p class="pull-right">
          Copyright © 2014 <a href="http://lebenimdorf.at">Leben im Dorf</a>. <br>
          Umsetzung von Jakob Sommerhuber. <br>
          Design von <a href="http://www.little-neko.com" target="blank">Little NEKO</a>.
        </p>
      </div>
    </div>
  </div>
</section>
