<header id="mainHeader" class="navbar-fixed-top" role="banner">
  <div class="container">
    <nav class="navbar navbar-default scrollMenu" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/">
          <%= image_tag 'e-go-logo.png', class: 'logo' %>
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="#home"><i class="icon-home-outline"></i>Home</a> </li>
          <li><a href="#news"><i class="icon-comment"></i>News</a> </li>
          <li><a href="#advantages"><i class="icon-thumbs-up"></i>Vorteile</a> </li>
          <li><a href="#about"><i class="icon-star"></i>Über uns</a> </li>
          <li><a href="#team"><i class="icon-users"></i>Team</a> </li>
          <li><a href="#service"><i class="icon-flag"></i>Service</a> </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
