<section class="slice" id="news">
  <div class="container imgHover">
    <div class="row">
      <div class="col-lg-12">
        <h1>Letzte Meldungen zum e-GO</h1>
        <h2 class="subTitle">Veranstalungen, Termine, Pressmeldungen</h2>
      </div>
      <% @latest_news.each do |news| %>
        <article class="col-sm-4">
          <section class="imgWrapper">
            <%= image_tag news['image'], class: 'img-responsive' %>
          </section>
          <section class="newsText color4">
            <h3><%= news['title'] %></h3>
            <h4 class="date"><%= news['date'] %></h4>
            <p><%= raw news['text'] %></p>
            <%= link_to news['link'], class: 'btn btn-sm' do %>
              <i class="icon-right-open-mini"></i>weiterlesen
            <% end %>
          </section>
        </article>
      <% end %>
    </div>
  </div>
</section>
