<section id="home" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <div class="flexslider" id="flexHome">
          <ul class="slides">
            <li>
              <h1>elektro Carsharing</h1>
              <h2>für Privatpersonen und Vereine in Auersthal</h2>
            </li>
            <li>
              <h1>ohne Emmissionen</h1>
              <h2>Renault Kangoo ZE, 5 Sitze, 60PS, Reichweite 150km</h2>
            </li>
            <li>
              <h1>einfach loslegen</h1>
              <h2>
                Online Reservierung - Inbetriebnahme mit Chipkarte
              </h2>
            </li>
            <li>
              <h1>transparente Kosten</h1>
              <h2>€0.12/km, €1/h ab der 3. Stunde, €100.- Jahresbeitrag</h2>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 col-sm-6 hidden-xs">
        <%= image_tag 'e-go-freigestellt.png', alt: 'e-GO Auersthal, Renault Kangoo Z.E. Modell 2013', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>
<!-- call to action -->
<section class="color4 slice">
  <div class="ctaBox ctaBoxFullwidth">
    <div class="container">
      <div class="row">
      <div class="col-md-8">
        <h1>
          Einkaufen, Ausflüge, zum Arzttermin oder ins Kino fahren - einfach und bequem mit dem e-GO Auersthal Carsharing.<br/>
          <strong>Eine echte Alternative zum Zweitauto</strong>
        </h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg" title="" href="#service">
          <i class="icon-flash"></i> Jetzt informieren
        </a>
      </div>
    </div>
  </div>
</div>
</section>
