<div id="paralaxSlice4" data-stellar-background-ratio="0.5" >
  <div class="maskParent">
    <div class="paralaxMask"></div>
    <div class="paralaxText">
      <h2>Wir danken unseren Sponsoren</h2>
      <div class="row">
        <div class="col-sm-4" style="text-align: center">
          <a href="http://www.klimafonds.gv.at">
            <%= image_tag 'sponsoren/klima_resize.png', style: 'padding-bottom: 40px' %>
          </a>
        </div>
        <div class="col-sm-4" style="text-align: center">
          <a href="http://www.noevers.at">
            <%= image_tag 'sponsoren/noev_resize.png', style: 'padding-bottom: 40px' %>
          </a>
        </div>
        <div class="col-sm-4" style="text-align: center">
          <a href="http://www.windenergie.at">
            <%= image_tag 'sponsoren/web_resize.png', style: 'padding-bottom: 40px' %>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" style="text-align: center">
          <a href="http://www.fliesen-sallfert.at">
            <%= image_tag 'sponsoren/sallfert_resize.png', style: 'padding-bottom: 40px' %>
          </a>
        </div>
        <div class="col-sm-4" style="text-align: center">
          <a href="http://auersthal.at/">
            <%= image_tag 'sponsoren/auersthal.png', style: 'padding-bottom: 40px' %>
          </a>
        </div>
        <div class="col-sm-4" style="text-align: center">
          <a href="http://www.pve-hoellerer.com">
            <%= image_tag 'sponsoren/hoellerer_resize.png', style: 'padding-bottom: 40px' %>
          </a>
        </div>
      </div>
      <p>
        Dieses Projekt wird vom Klima- und Energiefons im Rahmen des klima:aktiv mobil Förderprogramms als Beitrag zum Umwelt- und Klimaschutz im Verkehr gefördert.
      </p>
    </div>
  </div>
</div>
