<div id="paralaxSlice2" data-stellar-background-ratio="0.5">
  <div class="maskParent">
    <div class="paralaxMask"></div>
    <div class="paralaxText container">
      <i class="icon-chart iconBig"></i>
      <h2>Aktuelle Statistiken</h2>
      <h3>Derzeit fahren <span style="font-size: 200%"><%= @users_count %></span> Vereine und Privatpersonen mit dem e-GO.<h3>
      <h3>Der e-GO ist seit <span style="font-size: 200%"><%= (Date.today - Date.parse('2013-12-01')).to_i %></span> Tagen im Einsatz.<h3>
      <h3>Bei insgesamt <span style="font-size: 200%"><%= @total_drives %></span> Fahrten wurden <span style="font-size: 200%"><%= @total_km %></span> km zurückgelegt.<h3>
    </div>
  </div>
</div>
