<section class="slice" id="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Team</h1>
        <h2 class="subTitle">die Mobilitätsgruppe stellt sich vor</h2>
      </div>
      <div class="col-sm-6 col-md-4">
        <article>
          <div><%= image_tag 'team/martin.jpg', class: 'img-responsive' %></div>
          <div class="boxContent color4">
            <h3>Martin Fürhacker</h3>
            <p>Projektleiter</p>
            <p><a href="mailto:martin.fuerhacker@omv.com">martin.fuerhacker@omv.com</a></p>
          </div>
          <div class="boxContent"></div>
        </article>
      </div>
      <div class="col-sm-6 col-md-4">
        <article>
          <div><%= image_tag 'team/georg.jpg', class: 'img-responsive' %></div>
          <div class="boxContent color4">
            <h3>Georg Möstl</h3>
            <p>Obmann Dorferneuerungsverein</p>
            <p><a href="mailto:georgm7@yahoo.com">georgm7@yahoo.com</a></p>
          </div>
          <div class="boxContent"></div>
        </article>
      </div>
      <div class="col-sm-6 col-md-4">
        <article>
          <div><%= image_tag 'team/jakob.jpg', class: 'img-responsive' %></div>
          <div class="boxContent color4">
            <h3>Jakob Sommerhuber</h3>
            <p>Webentwicklung, Datenverarbeitung</p>
            <p><a href="mailto:jakob@sommerhuber.name">jakob@sommerhuber.name</a></p>
          </div>
          <div class="boxContent"></div>
        </article>
      </div>
      <div class="col-sm-6 col-md-4">
        <article>
          <div><%= image_tag 'team/thomas.jpg', class: 'img-responsive' %></div>
          <div class="boxContent color4">
            <h3>Thomas Fellner</h3>
            <p>Kassier</p>
            <p><a href="mailto:thomas.fellner@constantinfilm.at">thomas.fellner@constantinfilm.at</a></p>
          </div>
          <div class="boxContent"></div>
        </article>
      </div>
      <div class="col-sm-6 col-md-4">
        <article>
          <div><%= image_tag 'team/friedrich.jpg', class: 'img-responsive' %></div>
          <div class="boxContent color4">
            <h3>Friedrich Helm</h3>
            <p>Gemeinderat</p>
            <p><a href="mailto:friedrichhelm1@aon.at">friedrichhelm1@aon.at</a></p>
          </div>
          <div class="boxContent"></div>
        </article>
      </div>
      <div class="col-sm-6 col-md-4">
        <article>
          <div><%= image_tag 'team/ernst.jpg', class: 'img-responsive' %></div>
          <div class="boxContent color4">
            <h3>Ernst Pertl</h3>
            <p>Gemeinderat</p>
            <p><a href="mailto:familie.pertl@gmx.at">familie.pertl@gmx.at</a></p>
          </div>
          <div class="boxContent"></div>
        </article>
      </div>
    </div>
  </div>
</section>
