<div id="globalWrapper" class="localscroll">
  <%= render partial: 'header' %>
  <%= render partial: 'slider_call' %>
  <%= render partial: 'news' %>
  <%= render partial: 'advantages' %>
  <%= render partial: 'aboutus' %>
  <%= render partial: 'statistics' %>
  <%= render partial: 'team' %>
  <%= render partial: 'sponsors' %>
  <%= render partial: 'contact' %>
  <%= render partial: 'footer' %>
</div>
