/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require animate
 *= require magnific-popup
 *= require isotope
 *= require flexslider
 *= require layout
 *= require colors
 *= require custom-icons
 *= require custom-icons-ie7
 */


.logo {
  position: absolute;
  width: 180px;
  top: 10px;
}
