@font-face {
  font-family: 'custom-icons';
  src: url('<%= asset_path 'custom-icons.eot' %>');
  src: url('<%= asset_path 'custom-icons.eot' %>#iefix') format('embedded-opentype'),
       url('<%= asset_path 'custom-icons.woff' %>') format('woff'),
       url('<%= asset_path 'custom-icons.ttf' %>') format('truetype'),
       url('<%= asset_path 'custom-icons.svg' %>#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'custom-icons';
    src: url('../font/custom-icons.svg#custom-icons') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-quote-left:before { content: '\e928'; } /* '' */
.icon-deviantart:before { content: '\e81d'; } /* '' */
.icon-left-open-mini:before { content: '\e804'; } /* '' */
.icon-right-open-mini:before { content: '\e805'; } /* '' */
.icon-left-open-big:before { content: '\e765'; } /* '' */
.icon-right-open-big:before { content: '\e766'; } /* '' */
.icon-music-outline:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-search-outline:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-heart:before { content: '\e807'; } /* '' */
.icon-heart-filled:before { content: '\e80e'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-star-filled:before { content: '\e818'; } /* '' */
.icon-user-outline:before { content: '\e814'; } /* '' */
.icon-user:before { content: '\e81b'; } /* '' */
.icon-users-outline:before { content: '\e823'; } /* '' */
.icon-users:before { content: '\e828'; } /* '' */
.icon-user-add-outline:before { content: '\e829'; } /* '' */
.icon-user-add:before { content: '\e82a'; } /* '' */
.icon-user-delete-outline:before { content: '\e82b'; } /* '' */
.icon-user-delete:before { content: '\e82c'; } /* '' */
.icon-video:before { content: '\e82d'; } /* '' */
.icon-videocam-outline:before { content: '\e82e'; } /* '' */
.icon-videocam:before { content: '\e82f'; } /* '' */
.icon-picture-outline:before { content: '\e80d'; } /* '' */
.icon-picture:before { content: '\e80c'; } /* '' */
.icon-camera-outline:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80a'; } /* '' */
.icon-th-outline:before { content: '\e809'; } /* '' */
.icon-th:before { content: '\e808'; } /* '' */
.icon-th-large-outline:before { content: '\e80f'; } /* '' */
.icon-th-large:before { content: '\e810'; } /* '' */
.icon-th-list-outline:before { content: '\e813'; } /* '' */
.icon-th-list:before { content: '\e817'; } /* '' */
.icon-ok-outline:before { content: '\e822'; } /* '' */
.icon-ok:before { content: '\e824'; } /* '' */
.icon-cancel-outline:before { content: '\e825'; } /* '' */
.icon-cancel:before { content: '\e836'; } /* '' */
.icon-cancel-alt:before { content: '\e835'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e834'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e833'; } /* '' */
.icon-cancel-circled:before { content: '\e832'; } /* '' */
.icon-plus-outline:before { content: '\e831'; } /* '' */
.icon-plus:before { content: '\e830'; } /* '' */
.icon-minus-outline:before { content: '\e837'; } /* '' */
.icon-minus:before { content: '\e838'; } /* '' */
.icon-divide-outline:before { content: '\e839'; } /* '' */
.icon-divide:before { content: '\e83a'; } /* '' */
.icon-eq-outline:before { content: '\e83b'; } /* '' */
.icon-eq:before { content: '\e83c'; } /* '' */
.icon-info-outline:before { content: '\e83d'; } /* '' */
.icon-info:before { content: '\e83e'; } /* '' */
.icon-home-outline:before { content: '\e83f'; } /* '' */
.icon-home:before { content: '\e840'; } /* '' */
.icon-link-outline:before { content: '\e841'; } /* '' */
.icon-link:before { content: '\e842'; } /* '' */
.icon-attach-outline:before { content: '\e843'; } /* '' */
.icon-attach:before { content: '\e844'; } /* '' */
.icon-lock:before { content: '\e845'; } /* '' */
.icon-lock-filled:before { content: '\e846'; } /* '' */
.icon-lock-open:before { content: '\e847'; } /* '' */
.icon-lock-open-filled:before { content: '\e848'; } /* '' */
.icon-pin-outline:before { content: '\e849'; } /* '' */
.icon-pin:before { content: '\e84a'; } /* '' */
.icon-eye-outline:before { content: '\e84b'; } /* '' */
.icon-eye:before { content: '\e84c'; } /* '' */
.icon-tag:before { content: '\e84d'; } /* '' */
.icon-tags:before { content: '\e84e'; } /* '' */
.icon-bookmark:before { content: '\e84f'; } /* '' */
.icon-flag:before { content: '\e850'; } /* '' */
.icon-flag-filled:before { content: '\e851'; } /* '' */
.icon-thumbs-up:before { content: '\e852'; } /* '' */
.icon-thumbs-down:before { content: '\e853'; } /* '' */
.icon-download-outline:before { content: '\e854'; } /* '' */
.icon-download:before { content: '\e855'; } /* '' */
.icon-upload-outline:before { content: '\e856'; } /* '' */
.icon-upload:before { content: '\e857'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e858'; } /* '' */
.icon-upload-cloud:before { content: '\e859'; } /* '' */
.icon-reply-outline:before { content: '\e85a'; } /* '' */
.icon-reply:before { content: '\e85b'; } /* '' */
.icon-forward-outline:before { content: '\e85c'; } /* '' */
.icon-forward:before { content: '\e85d'; } /* '' */
.icon-code-outline:before { content: '\e85e'; } /* '' */
.icon-code:before { content: '\e85f'; } /* '' */
.icon-export-outline:before { content: '\e860'; } /* '' */
.icon-export:before { content: '\e861'; } /* '' */
.icon-pencil:before { content: '\e862'; } /* '' */
.icon-pen:before { content: '\e863'; } /* '' */
.icon-feather:before { content: '\e866'; } /* '' */
.icon-edit:before { content: '\e865'; } /* '' */
.icon-print:before { content: '\e864'; } /* '' */
.icon-comment:before { content: '\e867'; } /* '' */
.icon-chat:before { content: '\e868'; } /* '' */
.icon-chat-alt:before { content: '\e869'; } /* '' */
.icon-bell:before { content: '\e86a'; } /* '' */
.icon-attention:before { content: '\e86b'; } /* '' */
.icon-attention-filled:before { content: '\e86c'; } /* '' */
.icon-warning-empty:before { content: '\e86d'; } /* '' */
.icon-warning:before { content: '\e86e'; } /* '' */
.icon-contacts:before { content: '\e86f'; } /* '' */
.icon-vcard:before { content: '\e870'; } /* '' */
.icon-address:before { content: '\e871'; } /* '' */
.icon-location-outline:before { content: '\e872'; } /* '' */
.icon-location:before { content: '\e885'; } /* '' */
.icon-map:before { content: '\e884'; } /* '' */
.icon-direction-outline:before { content: '\e883'; } /* '' */
.icon-direction:before { content: '\e882'; } /* '' */
.icon-compass:before { content: '\e881'; } /* '' */
.icon-trash:before { content: '\e880'; } /* '' */
.icon-doc:before { content: '\e87f'; } /* '' */
.icon-doc-text:before { content: '\e87e'; } /* '' */
.icon-doc-add:before { content: '\e87d'; } /* '' */
.icon-doc-remove:before { content: '\e87c'; } /* '' */
.icon-news:before { content: '\e87b'; } /* '' */
.icon-folder:before { content: '\e87a'; } /* '' */
.icon-folder-add:before { content: '\e879'; } /* '' */
.icon-folder-delete:before { content: '\e878'; } /* '' */
.icon-archive:before { content: '\e877'; } /* '' */
.icon-box:before { content: '\e876'; } /* '' */
.icon-rss-outline:before { content: '\e875'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-phone-outline:before { content: '\e874'; } /* '' */
.icon-phone:before { content: '\e873'; } /* '' */
.icon-menu-outline:before { content: '\e886'; } /* '' */
.icon-menu:before { content: '\e887'; } /* '' */
.icon-cog-outline:before { content: '\e888'; } /* '' */
.icon-cog:before { content: '\e889'; } /* '' */
.icon-wrench-outline:before { content: '\e88a'; } /* '' */
.icon-wrench:before { content: '\e88b'; } /* '' */
.icon-basket:before { content: '\e88c'; } /* '' */
.icon-calendar-outlilne:before { content: '\e88d'; } /* '' */
.icon-calendar:before { content: '\e88e'; } /* '' */
.icon-mic-outline:before { content: '\e88f'; } /* '' */
.icon-mic:before { content: '\e890'; } /* '' */
.icon-volume-off:before { content: '\e891'; } /* '' */
.icon-volume-low:before { content: '\e892'; } /* '' */
.icon-volume-middle:before { content: '\e893'; } /* '' */
.icon-volume-high:before { content: '\e894'; } /* '' */
.icon-headphones:before { content: '\e895'; } /* '' */
.icon-wristwatch:before { content: '\e896'; } /* '' */
.icon-stopwatch:before { content: '\e897'; } /* '' */
.icon-lightbulb:before { content: '\e898'; } /* '' */
.icon-block-outline:before { content: '\e899'; } /* '' */
.icon-block:before { content: '\e89a'; } /* '' */
.icon-resize-full-outline:before { content: '\e89b'; } /* '' */
.icon-resize-full:before { content: '\e89c'; } /* '' */
.icon-resize-normal-outline:before { content: '\e89d'; } /* '' */
.icon-quote-right:before { content: '\e929'; } /* '' */
.icon-move-outline:before { content: '\e89f'; } /* '' */
.icon-move:before { content: '\e8a0'; } /* '' */
.icon-popup:before { content: '\e8a1'; } /* '' */
.icon-zoom-in-outline:before { content: '\e8a2'; } /* '' */
.icon-zoom-in:before { content: '\e8a3'; } /* '' */
.icon-zoom-out-outline:before { content: '\e8a4'; } /* '' */
.icon-zoom-out:before { content: '\e8a5'; } /* '' */
.icon-popup-1:before { content: '\e8a6'; } /* '' */
.icon-left-open-outline:before { content: '\e8a7'; } /* '' */
.icon-left-open:before { content: '\e8a8'; } /* '' */
.icon-right-open-outline:before { content: '\e8a9'; } /* '' */
.icon-right-open:before { content: '\e8aa'; } /* '' */
.icon-down:before { content: '\e8ab'; } /* '' */
.icon-left:before { content: '\e8ac'; } /* '' */
.icon-right:before { content: '\e8ad'; } /* '' */
.icon-up:before { content: '\e8ae'; } /* '' */
.icon-down-outline:before { content: '\e8af'; } /* '' */
.icon-left-outline:before { content: '\e8b0'; } /* '' */
.icon-right-outline:before { content: '\e8b1'; } /* '' */
.icon-up-outline:before { content: '\e8b2'; } /* '' */
.icon-down-small:before { content: '\e8b3'; } /* '' */
.icon-left-small:before { content: '\e8b4'; } /* '' */
.icon-right-small:before { content: '\e8b5'; } /* '' */
.icon-up-small:before { content: '\e8b6'; } /* '' */
.icon-cw-outline:before { content: '\e8b7'; } /* '' */
.icon-cw:before { content: '\e8b8'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e8b9'; } /* '' */
.icon-arrows-cw:before { content: '\e8ba'; } /* '' */
.icon-loop-outline:before { content: '\e8bb'; } /* '' */
.icon-loop:before { content: '\e8bc'; } /* '' */
.icon-loop-alt-outline:before { content: '\e8bd'; } /* '' */
.icon-loop-alt:before { content: '\e8be'; } /* '' */
.icon-shuffle:before { content: '\e8bf'; } /* '' */
.icon-play-outline:before { content: '\e8c0'; } /* '' */
.icon-play:before { content: '\e8c1'; } /* '' */
.icon-stop-outline:before { content: '\e8c2'; } /* '' */
.icon-stop:before { content: '\e8c3'; } /* '' */
.icon-pause-outline:before { content: '\e8c4'; } /* '' */
.icon-pause:before { content: '\e8c5'; } /* '' */
.icon-fast-fw-outline:before { content: '\e8c6'; } /* '' */
.icon-fast-fw:before { content: '\e8c7'; } /* '' */
.icon-rewind-outline:before { content: '\e8c8'; } /* '' */
.icon-rewind:before { content: '\e8c9'; } /* '' */
.icon-record-outline:before { content: '\e8ca'; } /* '' */
.icon-record:before { content: '\e8cb'; } /* '' */
.icon-eject-outline:before { content: '\e8cc'; } /* '' */
.icon-eject:before { content: '\e8cd'; } /* '' */
.icon-eject-alt-outline:before { content: '\e8ce'; } /* '' */
.icon-eject-alt:before { content: '\e8cf'; } /* '' */
.icon-bat1:before { content: '\e8d0'; } /* '' */
.icon-bat2:before { content: '\e8d1'; } /* '' */
.icon-bat3:before { content: '\e8d2'; } /* '' */
.icon-bat4:before { content: '\e8d3'; } /* '' */
.icon-bat-charge:before { content: '\e8d4'; } /* '' */
.icon-plug:before { content: '\e8d5'; } /* '' */
.icon-target-outline:before { content: '\e8e0'; } /* '' */
.icon-target:before { content: '\e8e5'; } /* '' */
.icon-wifi-outline:before { content: '\e8e6'; } /* '' */
.icon-wifi:before { content: '\e8e7'; } /* '' */
.icon-desktop:before { content: '\e8f5'; } /* '' */
.icon-laptop:before { content: '\e8f4'; } /* '' */
.icon-tablet:before { content: '\e8f6'; } /* '' */
.icon-mobile:before { content: '\e8f7'; } /* '' */
.icon-contrast:before { content: '\e8f8'; } /* '' */
.icon-globe-outline:before { content: '\e90a'; } /* '' */
.icon-globe:before { content: '\e90b'; } /* '' */
.icon-globe-alt-outline:before { content: '\e90c'; } /* '' */
.icon-globe-alt:before { content: '\e90d'; } /* '' */
.icon-sun:before { content: '\e90e'; } /* '' */
.icon-sun-filled:before { content: '\e90f'; } /* '' */
.icon-cloud:before { content: '\e910'; } /* '' */
.icon-flash-outline:before { content: '\e911'; } /* '' */
.icon-flash:before { content: '\e912'; } /* '' */
.icon-moon:before { content: '\e913'; } /* '' */
.icon-waves-outline:before { content: '\e8d6'; } /* '' */
.icon-waves:before { content: '\e8df'; } /* '' */
.icon-rain:before { content: '\e8e4'; } /* '' */
.icon-cloud-sun:before { content: '\e8e8'; } /* '' */
.icon-drizzle:before { content: '\e8e9'; } /* '' */
.icon-snow:before { content: '\e8f2'; } /* '' */
.icon-cloud-flash:before { content: '\e8f3'; } /* '' */
.icon-cloud-wind:before { content: '\e8f9'; } /* '' */
.icon-wind:before { content: '\e8fa'; } /* '' */
.icon-plane-outline:before { content: '\e8fb'; } /* '' */
.icon-plane:before { content: '\e902'; } /* '' */
.icon-leaf:before { content: '\e905'; } /* '' */
.icon-lifebuoy:before { content: '\e906'; } /* '' */
.icon-briefcase:before { content: '\e907'; } /* '' */
.icon-brush:before { content: '\e908'; } /* '' */
.icon-pipette:before { content: '\e909'; } /* '' */
.icon-power-outline:before { content: '\e914'; } /* '' */
.icon-power:before { content: '\e915'; } /* '' */
.icon-check-outline:before { content: '\e916'; } /* '' */
.icon-check:before { content: '\e917'; } /* '' */
.icon-gift:before { content: '\e8d7'; } /* '' */
.icon-temperatire:before { content: '\e8de'; } /* '' */
.icon-chart-outline:before { content: '\e8e3'; } /* '' */
.icon-chart:before { content: '\e8ea'; } /* '' */
.icon-chart-alt-outline:before { content: '\e8eb'; } /* '' */
.icon-chart-alt:before { content: '\e8f1'; } /* '' */
.icon-chart-bar-outline:before { content: '\e8f0'; } /* '' */
.icon-chart-bar:before { content: '\e8fc'; } /* '' */
.icon-chart-pie-outline:before { content: '\e8fd'; } /* '' */
.icon-chart-pie:before { content: '\e8fe'; } /* '' */
.icon-credit-card:before { content: '\e904'; } /* '' */
.icon-clipboard:before { content: '\e918'; } /* '' */
.icon-key-outline:before { content: '\e919'; } /* '' */
.icon-key:before { content: '\e91a'; } /* '' */
.icon-flow-split:before { content: '\e91b'; } /* '' */
.icon-flow-merge:before { content: '\e91c'; } /* '' */
.icon-flow-parallel:before { content: '\e91d'; } /* '' */
.icon-flow-cross:before { content: '\e91e'; } /* '' */
.icon-certificate-outline:before { content: '\e8d8'; } /* '' */
.icon-certificate:before { content: '\e8dd'; } /* '' */
.icon-scissors-outline:before { content: '\e8e2'; } /* '' */
.icon-scissors:before { content: '\e8e1'; } /* '' */
.icon-flask:before { content: '\e8ec'; } /* '' */
.icon-wine:before { content: '\e8ed'; } /* '' */
.icon-coffee:before { content: '\e8ef'; } /* '' */
.icon-beer:before { content: '\e8ff'; } /* '' */
.icon-anchor-outline:before { content: '\e900'; } /* '' */
.icon-anchor:before { content: '\e901'; } /* '' */
.icon-puzzle-outline:before { content: '\e903'; } /* '' */
.icon-puzzle:before { content: '\e91f'; } /* '' */
.icon-tree:before { content: '\e920'; } /* '' */
.icon-calculator:before { content: '\e921'; } /* '' */
.icon-infinity-outline:before { content: '\e922'; } /* '' */
.icon-infinity:before { content: '\e923'; } /* '' */
.icon-pi-outline:before { content: '\e924'; } /* '' */
.icon-pi:before { content: '\e925'; } /* '' */
.icon-at:before { content: '\e926'; } /* '' */
.icon-at-circled:before { content: '\e927'; } /* '' */
.icon-looped-square-outline:before { content: '\e8d9'; } /* '' */
.icon-looped-square-interest:before { content: '\e8dc'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e8da'; } /* '' */
.icon-sort-alphabet:before { content: '\e8db'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e8ee'; } /* '' */
.icon-gplus-1:before { content: '\e815'; } /* '' */
.icon-reddit:before { content: '\e821'; } /* '' */
.icon-dribbble:before { content: '\e816'; } /* '' */
.icon-flickr:before { content: '\e820'; } /* '' */
.icon-linkedin-1:before { content: '\e81c'; } /* '' */
.icon-rss-3:before { content: '\e81f'; } /* '' */
.icon-youtube:before { content: '\e81e'; } /* '' */
.icon-vimeo:before { content: '\e819'; } /* '' */
.icon-yahoo:before { content: '\e811'; } /* '' */
.icon-tumblr-1:before { content: '\e81a'; } /* '' */
.icon-facebook-1:before { content: '\e826'; } /* '' */
.icon-twitter-bird:before { content: '\e827'; } /* '' */
.icon-resize-normal:before { content: '\e89e'; } /* '' */
